.backgroundSection {
    margin-top: -50px; /* Adjust margin as needed /
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -110px;
  }

  .backgroundSection img {
    position: relative;
    border-radius: 0; / Adjust border radius if necessary */
    max-width: 100%;
    height: auto;
  }