.featureCardContainer {
  display: flex;
  flex-direction: column;
  background-color: #eeede4;
  color: #004223;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  color: #2B2B2B;
}

.featureCardContainer img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}
