.container {
  display: flex;
  background-color: #38603A; 
  padding: 20px;
  color: #ffffff;
  align-items: center;
}

.containerRight {
  display: flex;
  background-color: #EEEDE4; 
  padding: 20px;
  color: #004223; 
  align-items: center;
}

.imageContainer {
  flex: 1;
  margin-right: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.header {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.capacity {
  font-size: 20px;
  color: #9f9f9f; 
  margin-left: 10px;
  font-weight: bolder;
}

.content {
  flex: 1;
}

.description {
  margin: 10px 0;
  color: #9f9f9f; 
  font-weight: 500;
  font-size: 18px;
}

.buttonLight {
  background-color: #EEEDE4;
  color: #004223;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 20px;
}

.buttonDark {
  background-color: #004223;
  color: #EEEDE4;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 20px;
}