.mainBanner {
  text-align: center;
  color: #eeede4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.bannerContent {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

/* create the green background box */
.bannerTitleWrapper {
  display: inline-block;
  position: relative;
}

.bannerBackground {
  background-color: #004223;
  width: 100%;
  padding: 0 120px;
}

.bannerTitle {
  font-size: 127.34px;
  color: #004223;
  letter-spacing: 0.2%;
  position: relative;
  z-index: 1;
  line-height: 1; 
  text-shadow: 
    5px 0 0 #efeee5, /* right */
    -2px 0 0 #efeee5, 
    0 2px 0 #efeee5, 
    0 -2px 0 #efeee5; 
}

.bannerTitle::before {
  content: ""; 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%; 
  background-color: #004223; 
  z-index: -1; 
  width: 100%; 
}

.bannerTitle2 {
  font: 64.63px;
}

.bannerSubtitle {
  font-style: italic;
  margin-top: 0px;
}

.bannerNote {
  font-size: 16px;
  font-style: italic;
  margin-top: 9px;
  padding-bottom: 40px;
}
