.mainBanner {
  text-align: center;
  color: #eeede4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
  padding: 0 20px; /* Added padding to prevent content from touching the edges */
}

.bannerContent {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.bannerTitleWrapper {
  display: inline-block;
  position: relative;
}

.bannerBackground {
  background-color: #004223;
  width: 100%;
  padding: 0 60px; /* Adjusted for smaller screens */
}

.bannerTitle {
  font-size: 100px; /* Reduced font size for better responsiveness */
  color: #004223;
  letter-spacing: 0.2%;
  position: relative;
  z-index: 1;
  line-height: 1;
  text-shadow:
    5px 0 0 #efeee5, /* right */
    -2px 0 0 #efeee5, 
    0 2px 0 #efeee5, 
    0 -2px 0 #efeee5;
}

.bannerTitle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: #004223;
  z-index: -1;
  width: 100%;
}

.bannerTitle2 {
  font-size: 50px; /* Adjusted font size */
}

.bannerSubtitle {
  font-style: italic;
  margin-top: 0px;
  font-size: 18px; /* Reduced font size */
}

.bannerNote {
  font-size: 14px; /* Reduced font size */
  font-style: italic;
  margin-top: 9px;
  padding-bottom: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .bannerTitle {
    font-size: 60px; 
  }

  .bannerTitle2 {
    font-size: 40px; 
  }

  .bannerSubtitle {
    font-size: 16px; 
  }

  .bannerBackground {
    padding: 0 40px; 
  }
}

@media (max-width: 480px) {
  .bannerTitle {
    font-size: 40px; 
  }

  .bannerTitle2 {
    font-size: 30px; 
  }

  .bannerSubtitle {
    font-size: 14px;
  }

  .bannerBackground {
    padding: 0 20px; 
  }

  .bannerNote {
    font-size: 12px; 
  }
}