.greenTitleContainer {
  text-align: center;
  background-color: #38603a;
  color: #EFEEE5;
}

.titleCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: #2B2B2B;
}

.titleCardWithButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  gap: 10px; 
  color: #2B2B2B;
}

.leftColumn {
  flex-shrink: 0; /* Prevent the left column from shrinking */
  display: flex;
  align-items: center;
}

.rightColumn {
  flex-grow: 1; /* Allow the right column to take up remaining space */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the title horizontally */
  text-align: center; /* Center the title text */
}

.backButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #004223;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.backIcon {
  margin-right: 5px;
  font-size: 18px;
}

.title {
  font-weight: bold;
  color: #2B2B2B;
}