/* styles/global.css */
.pageContainer {
  background-color: #eeede4;
  margin: 0;
  padding: 20px 40px;
}

@media (max-width: 1000px) {
  .pageContainer {
    margin-top: 90px;
  }
}

h1 {
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0;
}

/* Green Button */
.button-green {
  background-color: #004223;
  color: #efeee4;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-green:hover {
  background-color: #003017;
}

/* White Button */
.button-white {
  background-color: #eeede4;
  color: #004223;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-white:hover {
  background-color: #c3c3c3;
  color: #eeede4;
}

.titleContainer {
  text-align: center;
  color: #004223;
}

/* dark green */
.darkGreenContainer {
  display: flex;
  flex-direction: column;
  background-color: #004223;
  color: #eeede4;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.darkGreenContainer img {
  max-width: 100%;
  height: auto;
}

/* medium green */
.mediumGreenContainer {
  display: flex;
  flex-direction: column;
  background-color: #38603a;
  color: #eeede4;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.mediumGreenContainer img {
  max-width: 100%;
  height: auto;
}

/* light green */
.lightGreenContainer {
  display: flex;
  flex-direction: column;
  background-color: #638b66;
  color: #eeede4;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.lightGreenContainer img {
  max-width: 100%;
  height: auto;
}

/* style for program card */
.cardTitleWrapper {
  min-height: 110px;
}

.divider {
  margin: 20px 0;
}

.alertSuccess {
  color: green;
  background-color: #e6ffed;
  padding: 10px;
  border: 1px solid green;
  font-weight: bold;
}

.alertError {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid red;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 45px; 
  }

  h3 {
    font-size: 28px; 
  }

  h4 {
    font-size: 22px; 
  }

  h5, p {
    font-size: 18px; 
  }

  .button-green, .button-white {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 60px; 
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px; 
  }

  h4 {
    font-size: 18px; 
  }

  h5, p {
    font-size: 16px; 
  }

  .button-green, .button-white {
    font-size: 14px; 
  }
}