.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 24px 30px;
    padding: 16px;
  }
  
  .row {
    display: contents;
  }
  
  .label {
    font-weight: bold;
    color: #2B2B2B;
  }
  
  .value {
    color: #636363;
    padding-left: 8px;
  }