.governmentCardContainer {
  background-color: #e3e9d6;
  padding: 20px 60px;
  margin: 0 -40px;
}

.title {
  text-align: center;
  color: #38603a;
}

.subheading {
  font-size: 24px;
  text-align: center;
  color: #38603a;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Grid for larger screens */
.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  flex: 2;
}

.gridImage {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.listParagraph {
  flex: 1;
  padding: 10px;
  color: #38603a;
  line-height: 1.5;
}

/* Media query for medium and small screens */
@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageGrid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .imageGrid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .gridImage {
    max-width: 100%; 
  }

  .listParagraph {
    padding: 0 10px; 
  }
}