.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004223; 
  padding: 10px 20px;
  font-family: "Prompt", sans-serif;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 5px;
}

.subText {
  font-size: 16px;
  color: #ffffff;
  font-weight: lighter;
}

.nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 30px;
}


.navItem {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navItem:hover {
  text-decoration: underline;
}

.membershipButton {
  background-color: #f5f5f5;
  color: #000000;
  padding: 1px 8px;
  border-radius: 5px;
}

.membershipButton:hover {
  background-color: #e2e2e2;
}

.footer {
  position: relative; 
  background-color: #004223; 
  color: #f5f5f5;
  font-family: "Prompt", sans-serif;
  padding: 20px 40px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.contactSection,
.logoSection,
.addressSection {
  margin: 10px;
  min-width: 250px;
  margin-top: 20px;
  margin-bottom:-20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contactSection {
  align-items: start;
}

.addressSection {
  align-items: end;
}

.contactTitle,
.addressTitle {
  font-size: 22px;
  font-weight: 750;
  margin-bottom: 10px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 0px;
}

.logoText {
  font-size: 55px;
  font-weight: bolder;
  margin-bottom: 5px;
  color: #ffffff;
}

.subText {
  font-size: 35px;
  font-weight: 400;
  color: #e2e2e2;
  margin-top: -30px;
  margin-bottom: 0px;
  text-align: center;
}

.text {
  font-size: 17px;
  margin: 0px 0;
}

.copyright {
  margin-top: 35px;
  font-size: 10px;
  color: #a5a5a5;
  text-align: center;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .logoText {
    font-size: 28px;
  }

  .contactTitle,
  .addressTitle {
    font-size: 20px;
  }
}
