.contactUsContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f4f4f4;
  }

  .contactForm {
    background-color: #004223;
    padding: 30px;
    color: #c6c6c6;
    border-radius: 20px;
    flex: 1;
    max-width: 650px;
  }

  .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 15px;
    font-family: prompt;
  }

  .subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: prompt;
  }

  .inputGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .inputGroup input {
    width: 48%;
    padding: 14px;
    border-radius: 10px;
    border: none;
  }

  .mobileInputGroup {
    display: flex;
    align-items: center;
  }

  .mobilePrefix {
    padding: 10px;
    background-color: #c6c6c6;
    border-radius: 5px 0 0 5px;
  }

  .mobileInputGroup input {
    flex: 1;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
  }

  .subjectSelect {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .messageTextarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 150px;
  }

  .sendButton {
    background-color: #EFEEE5;
    color: #2B2B2B;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 900;
  }

  .sendButton:hover {
    background-color: #EFEEE5;
  }

  .imageContainer {
    margin-left: 20px;
    flex: 0.5;
  }

  .sideImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }