.newsSection {
    background-color: #38603A; 
    padding: 70px 0;
    text-align: center;
  }
  
  .newsTitle {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
    margin-top: -50px;
    font-family: prompt;
  }
  
  .newsCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .newsCard {
    background-color: #EEEDE4; 
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
  }
  
  .newsImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .newsCardTitle {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    font-family: prompt;
  }
  
  .newsCardText {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 450;
    text-align: center;
    font-family: prompt;
  }
  
  .newsButton {
    background-color: #006335;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .newsButton:hover {
    background-color: #e2e2e2; 
    color: #004223;
  }