/* General styles for the container based on color scheme */
.lightGreenInformationContainer {
  background-color: #638b66;
  padding: 20px;
  box-sizing: border-box;
  color: #efeee5;
}

.mediumGreenInformationContainer {
  background-color: #38603a;
  padding: 20px;
  box-sizing: border-box;
  color: #efeee5;
}

.darkGreenInformationContainer {
  background-color: #004223;
  padding: 20px;
  box-sizing: border-box;
  color: #efeee5;
}

.whiteInformationContainer {
  background-color: #EEEDE4;
  padding: 20px;
  box-sizing: border-box;
  color: #004223; 
}

.whiteInformationContainer h3,
.whiteInformationContainer h4 {
  color: #2B2B2B; 
}

.whiteInformationContainer p {
  color: #004223; 
}

/* Text content and description handling */
.textContent {
  text-align: left;
}

.description {
  display: block;
  width: 100%;
}

.descriptionText.left {
  text-align: left;
}

.descriptionText.center {
  text-align: center;
}

/* Button styles */
.buttonRight {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 100%; 
  text-align: right;
}

/* Layout for content and button */
.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Media query for medium and small screens */
@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column; 
    align-items: center; 
  }

  .textContent {
    text-align: center;
  }

  .descriptionText {
    text-align: center; 
  }

  .buttonRight {
    justify-content: center; 
    margin-top: 20px; 
  }
}