/* Container for information (without padding) */
.whiteInformationContainer {
  padding: 20px;
  box-sizing: border-box;
}

.lightGreenInformationContainer {
  background-color: #638b66;
  padding: 20px;
  box-sizing: border-box;
}

.darkGreenInformationContainer {
  background-color: #004223;
  padding: 20px;
  box-sizing: border-box;
}

.mediumGreenInformationContainer {
  background-color: #38603a;
  padding: 20px;
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.description p {
  margin: 0;
  text-align: left; 
}

.whiteInformationContainer .title {
  color: #2B2B2B; 
}

.whiteInformationContainer .description p {
  color: #38603A; 
}

/* style for information card with button */
.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContent {
  flex: 4;
  text-align: left;
}

.buttonContainer {
  flex: 1;
  text-align: right;
}
