.facebookEmbedContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding-left: 60px;
}

.facebookEmbedIframe {
  border: none;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  height: 850px;
}

/* Media query for tablet screens */
@media (max-width: 768px) {
  .facebookEmbedIframe {
    max-width: 100%;
    height: 700px;
  }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .facebookEmbedContainer {
    display: none;
  }
}
